:root {
  --bgcolor:  #f1f5fd;
  --primary-color: #6f5de7;
  --text-color:  #828286;
  --main-text-color: #333333;
}

.page-footer{
	
	padding: 0.3rem 0;
	font-size: 2rem;
	background-color: var(--bgcolor);
}

.footerStyle{
	position: relative;
	z-index: 99;
	bottom: 0;
	width: 100%;
}